Qaroco.PL/Connected Services/QarocoServiceReference/Qaroco.DL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Qaroco.DL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Qaroco.DL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthYear" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TcNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserActiveStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressContent2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="BlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogCommentId" type="xs:int" />
      <xs:element minOccurs="0" name="BlogId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogComment" nillable="true" type="tns:BlogComment" />
  <xs:complexType name="ArrayOfBlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogComment" nillable="true" type="tns:BlogComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogComment" nillable="true" type="tns:ArrayOfBlogComment" />
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
      <xs:element minOccurs="0" name="BlogTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfUpload" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ViewCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PictureId" type="xs:int" />
      <xs:element minOccurs="0" name="PictureUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="ArrayOfBlog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blog" nillable="true" type="tns:Blog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlog" nillable="true" type="tns:ArrayOfBlog" />
  <xs:complexType name="CargoTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoId" type="xs:int" />
      <xs:element minOccurs="0" name="CargoStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargoTransaction" nillable="true" type="tns:CargoTransaction" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="Courier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierId" type="xs:int" />
      <xs:element minOccurs="0" name="RFId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Courier" nillable="true" type="tns:Courier" />
  <xs:complexType name="ArrayOfCourier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Courier" nillable="true" type="tns:Courier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourier" nillable="true" type="tns:ArrayOfCourier" />
  <xs:complexType name="CourierStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatistiscId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourierStatistic" nillable="true" type="tns:CourierStatistic" />
  <xs:complexType name="ArrayOfCourierStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourierStatistic" nillable="true" type="tns:CourierStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourierStatistic" nillable="true" type="tns:ArrayOfCourierStatistic" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="ArrayOfDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="District" nillable="true" type="tns:District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrict" nillable="true" type="tns:ArrayOfDistrict" />
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
  <xs:complexType name="MessageSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="ReplyStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageSystem" nillable="true" type="tns:MessageSystem" />
  <xs:complexType name="ArrayOfMessageSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageSystem" nillable="true" type="tns:MessageSystem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageSystem" nillable="true" type="tns:ArrayOfMessageSystem" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="ArrayOfProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInfo" nillable="true" type="tns:ArrayOfProductInfo" />
  <xs:complexType name="RegisterFolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FolderTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterFolder" nillable="true" type="tns:RegisterFolder" />
  <xs:complexType name="ArrayOfRegisterFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisterFolder" nillable="true" type="tns:RegisterFolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisterFolder" nillable="true" type="tns:ArrayOfRegisterFolder" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfShippingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingType" nillable="true" type="tns:ShippingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingType" nillable="true" type="tns:ArrayOfShippingType" />
  <xs:complexType name="ShippingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShippingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingType" nillable="true" type="tns:ShippingType" />
  <xs:complexType name="ArrayOfUserBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBank" nillable="true" type="tns:UserBank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBank" nillable="true" type="tns:ArrayOfUserBank" />
  <xs:complexType name="UserBank">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserBankId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBank" nillable="true" type="tns:UserBank" />
  <xs:complexType name="UserCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVCNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UCardId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCardInfo" nillable="true" type="tns:UserCardInfo" />
  <xs:complexType name="ArrayOfUserCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCardInfo" nillable="true" type="tns:UserCardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCardInfo" nillable="true" type="tns:ArrayOfUserCardInfo" />
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogId" type="xs:int" />
      <xs:element minOccurs="0" name="LogIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
  <xs:complexType name="ArrayOfLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLog" nillable="true" type="tns:ArrayOfLog" />
</xs:schema>