Qaroco.PL/Connected Services/QarocoServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Qaroco.DL" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" />
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="UserLoginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserListId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserListIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="UserListIdResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q5:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q6:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="AddressListResult" nillable="true" type="q7:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q8:BlogComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlogCommentAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q9:BlogComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlogCommentDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogCommentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="BlogCommentListResult" nillable="true" type="q10:ArrayOfBlogComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" minOccurs="0" name="model" nillable="true" type="q11:BlogVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlogAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlogDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="BlogListResult" nillable="true" type="q12:ArrayOfBlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogVMList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogVMListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" minOccurs="0" name="BlogVMListResult" nillable="true" type="q13:ArrayOfBlogVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlogDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="BlogDetailResult" nillable="true" type="q14:Blog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q15:CargoTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargoTransactionAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q16:CargoTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargoTransactionDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoTransactionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="CargoTransactionListResult" nillable="true" type="q17:ArrayOfCargoTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="CityListResult" nillable="true" type="q18:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" minOccurs="0" name="model" nillable="true" type="q19:CourierVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourierAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q20:Courier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourierDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" minOccurs="0" name="model" nillable="true" type="q21:CourierVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourierUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="CourierListResult" nillable="true" type="q22:ArrayOfCourier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q23:CourierStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourierStatisticAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q24:CourierStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourierStatisticDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CourierStatisticListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="CourierStatisticListResult" nillable="true" type="q25:ArrayOfCourierStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Qaroco.DL.ViewModels" minOccurs="0" name="model" nillable="true" type="q26:CustomerVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q27:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="CustomerListResult" nillable="true" type="q28:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistrictList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DistrictListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="DistrictListResult" nillable="true" type="q29:ArrayOfDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q30:MessageSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageSystemAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageSystemDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSystemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="MessageSystemListResult" nillable="true" type="q31:ArrayOfMessageSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q32:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q33:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="OrderListResult" nillable="true" type="q34:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q35:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PictureAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q36:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PictureDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PictureListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="PictureListResult" nillable="true" type="q37:ArrayOfPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q38:ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductInfoAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q39:ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductInfoDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="ProductInfoListResult" nillable="true" type="q40:ArrayOfProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q41:RegisterFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFolderAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q42:RegisterFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFolderDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFolderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="RegisterFolderListResult" nillable="true" type="q43:ArrayOfRegisterFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="RoleListResult" nillable="true" type="q44:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="ShippingTypeListResult" nillable="true" type="q45:ArrayOfShippingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserBankList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserBankListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="UserBankListResult" nillable="true" type="q46:ArrayOfUserBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q47:UserCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCardInfoAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q48:UserCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCardInfoDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCardInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="UserCardInfoListResult" nillable="true" type="q49:ArrayOfUserCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="model" nillable="true" type="q50:Log" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Qaroco.DL" minOccurs="0" name="LogListResult" nillable="true" type="q51:ArrayOfLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>